# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# PVControl
Parametros_FV.py
Parametros_FV*.back
html/Parametros_Web.js
html/version.inc
etc/cron.d/pvcontrol
backBD/
HA/
*personal*
*back*
