#contenedor {
    width: 100%;
    min-width: 540px;
}

#cabecera {
    background: -webkit-linear-gradient(black, white);
    background: -o-linear-gradient(black, white);
    background: -moz-linear-gradient(black, white);

    z-index: 100;
    background-color: #828a80;
    color: black;
    height: 75px;

    width: 100%;
    left: 0;
    top: 0;
    position: fixed;

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration: none;
}

#logo-header:hover {
    color: #0b76a6;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.6em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 1.2em;
    color: #999;
}

/*
 * Contenido principal
 */
#contenido {
    width: 100%;
    padding-top: 80px;
    height: calc(100vh - 80px);
}

.relojes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: fit-content;
    max-width: 800px;
    min-width: 400px;
    height: fit-content;
}

.reloj {
    margin: 5px;
}

/* 
#pie {
    width: 100%;
    background-color: black;
    color: white;
    clear: both;
    text-align: right;
    padding: 5px;
} */