
.amarillo{
  background-color: #ffdc6e;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}

.rojo{
  background-color: #fa5050;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}

.verde{
  background-color: #86dea9;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
  /*border: 2px solid black;*/
}
.naranja{
  background-color: #fbc779;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}
.BULK{
  background-color: #5a8fa9;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}
.ABS{
  background-color: #8cd889;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}
.FLOT{
  background-color: #b9eead;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}
.EQU{
  background-color: #b0a5a0;
  border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
  text-align: center;
  border-radius: 5px;
}


.divTable{
	display: table;
  text-align: center;
	/*width: 100%;*/
  font-family: Verdana, sans-serif;
  font-size: 70%;/*0.8em;*/
  /*border-radius: 15px;*/
  font-weight: bold;
  /*background-color: #b3cde0;*/
}
.divTableRow {
	display: table-row;
  /*border-radius: 15px;*/
  /*border: 8px solid #AAAAAA;*/
  background-color: #eeeeee;
}
.divTableHeading {
	/*background-color: #EEE;*/
	display: table-header-group;
  /*border-radius: 15px;
  /*border: 8px solid #AAAAAA;*/
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 10px 3px;
 /* border-radius: 5px;*/
  border: 0px solid grey;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
  /*border-radius: 15px;
  border: 8px solid #AAAAAA;*/
}
.divTableFoot {
	/*background-color: #EEE;*/
	display: table-footer-group;
	font-weight: bold;
  /*border-radius: 15px;*/
}
.divTableBody {
	display: table-row-group;
}
