[Unit]
Description=FV lectura ADS
After=mysql.service

[Service]
ExecStartPre=/bin/sleep 1
ExecStart=/usr/bin/python3 /home/pi/PVControl+/fv_ads.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
