[Unit]
Description=FV lectura Hibrido ANENJI
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
Environment="PYTHONPATH=/home/pi/PVControl+"
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/servicios/fv_anenji.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
