[Unit]
Description=FV lectura DiY_BMS
After= msql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/fv_diybms.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
