[Unit]
Description= PVControl+ - Lectura BMS JK
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/fv_jk.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
