[Unit]
Description=FV Mux PCB
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/fv_mux.py
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target

