[Unit]
Description= PVControl+ -- OLED
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/fv_oled.py
Restart=always
RestartSec=3600

[Install]
WantedBy=multi-user.target

