[Unit]
Description=FV lectura por Dongle Wifi (ANENJI, Isolar,..)
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/fv_rs232_wifi.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
