[Unit]
Description= PVControl+ - Lectura SRNE
After=mysql.service

[Service]
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
SyslogIdentifier=%N
Environment="PYTHONPATH=/home/pi/PVControl+"
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/servicios/fv_srne.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

