[Unit]
Description= PVControl+ - Lectura Temperatura DS18B20
After=fv.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/PVControl+/fv_temp.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

