[Unit]
Description=FV Telegram bot
After=mysql.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/PVControl+/fvbot.py
Restart=always
RestartSec=600

[Install]
WantedBy=multi-user.target

