[Unit]
Description= PVControl+ - Lectura GOODWE
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/fv_goodwe.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target

