[Unit]
Description=PVControl+ -- Motion
After=mysql.service

[Service]
ExecStart=/usr/bin/motion -c /home/pi/motion/motion.conf
Restart=always
RestartSec=30
User=pi

[Install]
WantedBy=multi-user.target

