[Unit]
Description= PVControl+ - Lectura SB2
After=mysql.service

[Service]
ExecStart=/usr/bin/python3 /home/pi/PVControl+/sb.py SB2
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
