[Unit]
Description= PVControl+ - Lectura SB2
After=mysql.service

[Service]
SyslogIdentifier=%N
User=pi
Group=pi
ExecStartPre=/bin/sleep 1
ExecStart=/home/pi/PVControl+/env/bin/python3 /home/pi/PVControl+/sb.py SB2
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
