[Unit]
Description= PVControl+ - Lectura SMA
After=mysql.service

[Service]
ExecStart=/usr/bin/python2 /home/pi/PVControl+/sma.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
